 /* COLORS */

 
 $small-text-gradient: linear-gradient(180deg, #BE509E, #624290);
 $large-text-gradient-1: linear-gradient(180deg, #772BF2, #ffffff);
 $large-text-gradient-2: linear-gradient(0deg, #772BF2, #ffffff);
 $first-block-gradient: linear-gradient(0deg, #FF891D, #CE0AFF);
 $second-block-gradient: linear-gradient(0deg, #CE0AFF, #772BF2);
 $curtain-gradient: linear-gradient(90deg, rgba($color: #FFFFFF, $alpha: 0.05), rgba($color: #656565, $alpha: 0.09) ,rgba($color: #FFFFFF, $alpha: 0.05));